body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
	position: absolute;
	max-width: 400px;
	margin-top: 50px;
	left: 50%;
	margin-left: -200px;
}

p {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

.line-list {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
}

.line {
	margin-bottom: 0.5rem;
}

.line label,
.add-line label {
	display: block;
	font-size: 0.7rem;
	margin-bottom: 0.25rem;
	font-weight: 300;
	text-transform: uppercase;
}
