body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
	position: absolute;
	width: 498px;
	margin-top: 50px;
	left: 50%;
	margin-left: -249px;
	margin-bottom: 100px;
}

.route {
	padding: 1.5rem;
	box-shadow: 0 10px 32px -12px rgba(0, 0, 0, 0.45);
	border-radius: 0.5rem;
}

h2 {
	margin: 0;
	font-size: 1.4rem;
	color: #444;
}

p {
	font-size: 1rem;
	margin-bottom: 1.5rem;
}

nav ul {
	padding: 0;
	list-style: none;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 0.5rem;
	text-decoration: none;
	color: #ccc;
}

nav a.active {
	color: #777;
}

.route {
	text-align: center;
}

.product-list {
	margin-bottom: 2rem;
}

.add-product,
.product,
.order table {
	margin: 0 auto;
	text-align: left;
}

.product {
	margin-top: 0.75rem;
	text-align: left;
	padding: 1rem;
	border: 2px solid #ddd;
	border-radius: 0.5rem;
}

.add-product {
	margin-top: 2rem;
}

.product input,
.add-product input,
.product button,
.add-product button {
	border-radius: 0;
	outline: none;
	border: 1px solid #ccc;
	-webkit-appearance: none;
	padding: 0.35rem 0.5rem;
	margin-top: 0;
}

.product label,
.add-product label {
	display: inline-block;
	font-size: 0.7rem;
	margin-bottom: 0.25rem;
	margin-right: 0.5rem;
	font-weight: 300;
	text-transform: uppercase;
}

.continue-order .button,
.continue-submit .button {
	margin: 0;
}

.continue-order,
.continue-submit {
	margin-top: 1.5rem;
	padding-top: 1.5rem;
	border-top: 2px solid #eee;
}

.no-products {
	border-radius: 0.5rem;
	background-color: #f9f9f9;
	padding: 1rem;
	font-weight: bold;
	color: #777;
}

.add-another {
	display: inline-block;
	margin-top: 1.5rem;
	text-decoration: none;
	color: #333;
	padding-bottom: 1px;
	transition: all 0.2s ease-in-out;
}

.add-another:hover {
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 1rem 1.5rem;
	text-decoration: none;
	background: #ccc;
	font-weight: bold;
	color: #222;
	border: 0;
	outline: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	border-radius: 0.5rem;
	margin-top: 1rem;
	min-width: 123px;
	text-transform: uppercase;
}

.button:hover,
.button:focus {
	text-decoration: none;
	background: #ddd;
	color: #000;
}

.product-select .button {
	width: 100%;
	background: #fff;
	text-transform: none;
	font-weight: 500;
	font-size: 1.4rem;
	border: 2px solid #ddd;
	color: #444;
	padding: 1rem;

}

.product-select .button:hover,
.product-select .button:focus {
	background: #f9f9f9;
}

select {
	padding: 0.125rem;
}

table {
	width: 100%;
}

th {
	text-align: left;
	border-bottom: 1px solid #777;
	padding: 0.25rem;
	padding-bottom: 0.5rem;
}

td,
th {
	padding: 0.5rem;
}

tr:nth-child(even) td {
	background-color: #f9f9f9;
}
